
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel:wght@600&family=Ysabeau+Infant:ital,wght@0,600;1,400&display=swap');


*{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Ysabeau Infant', sans-serif;
    margin:0px;
}

html, body{
    height:100%;
    overflow-x: hidden;
}

h1{
    font-size:30px;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:black;
}

body{
    background-color: rgb(255, 234, 202);
}


#black-color{
    color:black;
    text-decoration: underline;
}

.main-header{
    text-align:center;
    border-bottom:2.5px solid rgb(132, 123, 123);
    border-radius:5px;
    margin:0px 20px;
}

#red-color{
    color:red;
}


/* navbar styling */

#navbar{
    background-color:darkgrey;
}

#navbar ul li{
    display:inline-block;
}

#navbar ul li a:hover{
    color:black;
}

#logo-img{
    height:30px;
    width:70px;
}

.logo, #nav-list{
    display:flex;
    justify-content: center;
    gap:2rem;
}

#nav-list li a{
    color:white;
    font-size:22px;
}

#nav-list{
    padding:20px;
}

.showcase{
    min-height:50%;
    background-image:url('../images/showcase.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    color:white;
    opacity:0.95;
    padding:10px 0px;

}

.showcase h1{
    padding:15px 0;
}

.showcase a input, #button{
    margin-top:10px;
    background-color:yellow;
    border-radius:10px;
    border:none;
    padding:10px;
    font-size:18px;
    margin-bottom:10px;

}

#button:hover{
    background-color:red;
}

.showcase-img{
    width:70%;
    margin:auto;
    margin-top:20px;
    margin-bottom:50px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 200px;
    gap:2rem;   
}

.showcase-img .img-1, .showcase-img .img-2{
    background-image:url('../images/chief.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    border-radius:10px;
    position:relative;
    box-shadow: 20px 20px 20px 20px black;
}

.showcase-img .img-2{
    background-image: url('../images/pizza.jpg');
}

.showcase-img .img-1, .showcase-img .img-2{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.menu{
    margin-top:40px;
    border-top:2.5px solid rgb(132, 123, 123);
    border-radius:5px;
    text-align:center;

}

.menu-card{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows:400px;
    gap:3em;
    text-align:center;
    padding:10px 20px;
}

.menu-card .card img{
    width:100%;
    height:90%;
}

.card{
    background-color:white;
}

#main-footer{
    margin-top:20px;
    background-color:white;
    text-align: center;
    padding:8px;
}


@media screen and (max-width: 1100px) {      
    .showcase-img{
        width:90%;
    }
}


@media(max-width:750px){
    .menu-card{
        grid-template-columns: 1fr 1fr;
    }
}



@media (max-width:500px){
    #nav-list{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:.5em;
    }

    .menu-card{
        grid-template-columns:1fr;
    }
}